[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui_toggle"]
	path = extern/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
[submodule "extern/imgui_toggle"]
	path = extern/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
